.inp {
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-bottom: 3px solid #ccc;
  margin-right: 0.5rem;
  caret-color: blue;
}
.btn {
  padding: 0.5rem;
  background: rgb(16, 16, 190);
  color: #fff;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.btn:hover {
  background: rgb(4, 4, 255);
}
.btn:active {
  background: rgb(16, 16, 190);
}
.inp:focus {
  border-color: blue;
  border-right: 2px solid red;
}
